:root {
    --twitter-blue: #1DA1F2;
    --sidebar-clr: rgb(36, 36, 36);
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0px;
    background-color: rgb(51, 51, 51);
    color: rgb(219, 219, 219);
}

h2 {
    color: black;
}

.centered {
    position: fixed;
    top: 25%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
  }

.hidden {
    visibility: hidden;
    opacity: 0;
}

a{
    color: var(--twitter-blue);
}

.highlight {
    cursor: pointer;
    color: white;
}
.highlight:hover {
    background-color: #313131;
}

button {
    color: #fff;
    cursor: pointer;
    font-weight: bolder;
    background-color: transparent;
    border: none;
}

#taskBtn {
    background-color: var(--twitter-blue);
    border-radius: 15px;
    padding: 2vh 3vw 2vh 3vw;
}

#projectTaskBtn {
    background-color: var(--twitter-blue);
    border-radius: 15px;
    padding: 2vh 3vw 2vh 3vw;
}

#projectBtn {
    background-color: var(--twitter-blue);
    border-radius: 15px;
    padding: 2vh 3vw 2vh 3vw;
    width: 10vw;
}

#sidebar {
    top: 0px;
    left: 0px;
    width: 15vw;
    height: 100vh;
    border-right: 1px solid black;
    position: fixed;
    background-color: var(--sidebar-clr);
}

#topStuff {
    height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#profileStuff {
    display: flex;
    align-items: center;
}

#profilePic {
    border-radius: 50%;
    width: 4vw;
    height: 4vw;
}

#bottomStuff {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#homeBtn{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calendarBtn{
    width: 100%;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.projects-container{
    width: 100%;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
#projectsUl {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#projectsUl h3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#projectsUl li{
    cursor: pointer;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vh 0 1vh 0;
    list-style: none;
}
#projectsUl li:hover {
    background-color: #494949;
}

#content {
    width: 85vw;
    height: 100vh;
    position: absolute;
    left: 15vw;
}

.contentDiv {
    opacity: 0;
    visibility: none;
    border-radius: 10px;
    height: 80vh;
    width: 30vw;
    background-color: var(--sidebar-clr);
    position: fixed;
    left: 18vw;
    bottom: 5vh;
}

.contentDiv.active {
    opacity: 1;
    visibility: visible;
}

#mainDiv {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

#mainDiv h2 {
    color: white;
}

#sideDiv {
    left: 55vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.date-picker {
    width: 100%;
    max-width: 320px;
    height: 70px;
    z-index: 30;
    position: relative;
    background-color: #fff;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    user-select: none;
    display: none;
}

.date-picker.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.date-picker .selected-date {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 28px;
}

.date-picker:hover {
    background-color: #F3F3F3;
}

.submitBtn {
    color: #000;
    width: 100%;
    height: 8vh;
}

.submitBtn:hover {
    background-color: #F3F3F3;
}

.date-picker .dates {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
    color: #000;
}

.date-picker .dates.active{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.date-picker .dates .month {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
}

.date-picker .dates .month .arrows {
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
    font-size: 20px;
}

.date-picker .dates .month .arrows:hover {
    background-color: #f3f3f3;
}

.date-picker .dates .month .arrows:active {
    background-color: #00ca85;
}

.date-picker .dates .days {
    height: 200px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.date-picker .dates .days .day {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #313131;
}

.date-picker .dates .days .day.selected {
    background-color: #00ca85;
}

.modal-bg.centered {
    background-color: white;
    top: 50%;
    width: 40vw;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.modal {
    color: #000;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.task-card {
    width: 100%;   
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.task-card:hover {
    background-color: #313131;
}

.task-card input {
    margin-left: 1vw;
}

.task-card-text {
    flex-grow: 1;
    margin-left: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.underline {
    text-decoration: underline;
}

.standard {
    color: black;
    border-radius: 10px;
    padding: 1vh 3vw 1vh 3vw;
    background-color: #55d170;
}
.important {
    color: black;
    border-radius: 10px;
    padding: 1vh 3vw 1vh 3vw;
    background-color: #c9d155;
}
.urgent {
    border-radius: 10px;
    padding: 1vh 3vw 1vh 3vw;
    background-color: #d15555;
}

.icon-div {
    background-color: var(--sidebar-clr);
    position: fixed;
    top: 2vh;
    right: 25vw;
    height: 50px;
    width: 200px;
    border-radius: 20px;
    padding: 1vw;
    display: flex;
    justify-content: space-between ;
    align-items: center;
}

.icon-div img{
    width: 2vw;
    height: 2vw;
}

.premium-div {
    background-color: var(--sidebar-clr);
    position: fixed;
    top: 2vh;
    right: 5vw;
    height: 50px;
    width: 150px;
    border-radius: 20px;
    padding: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
}